.obsidian/
Cargo.lock
subapps/hellod/target/
*.o
*.ignore

# STM32 CubeIDE
Result/
Debug/
prehost/stm32mp13X-ac7/ImageHeader/EL3_Launcher/
prehost/stm32mp13X-ac7/ImageHeader/exe.win-amd64-2.7/
ImageHeader/e*
language.settings.xml
